* li {
    list-style: none;
}

/*navigation*/
a {
    text-decoration: none;
    color: #B56727;

}

nav {
    text-align: center;
}

.label li {
    display: inline;
    padding: 10px 10px;
    margin: 10px 10px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.label li:hover {
    border-top: 2px solid #FCAE1E;
}

/*header*/
.header {
    background-image: url("Pictures/Color tones.jpeg");
    background-position: center;
    background-size: cover;
    height: 350px;
}

.header h1 {
    font-family:'Jacques Francois', serif;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 40px;
    color: #3C280D;
}

.header p {
    font-family: 'Yesteryear', cursive;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3C280D;
}

/*Content Section*/
* .title {
    font-family: 'Jacques Francois', serif;
    font-size: 40px;
    font-weight: 900;
    color: #652A0E;
    border-top: 6px solid coral;
    width: 80px;
}

.description {
    font-family: 'Jacques Francois', serif;
    color: #231709;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.primary-color {
    background-color: #B56727;
    font-family: 'Goudy Bookletter 1911', serif;
    padding-left: 5px;
    color: #FAE29C;
    width: 1000px;
    font-size: 20px;
}

.color-dark {
    background-color: #222222;
    font-family: 'Goudy Bookletter 1911', serif;
    padding-left: 5px;
    color: beige;
    width: 1000px;
    font-size: 20px;

}
.background {
    background-color: white;
    font-family: 'Goudy Bookletter 1911', serif;
    padding-left: 5px;
    color: black;
    width: 1000px;
    font-size: 20px;
}

h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30px;
    font-weight: 300;
}

h3,
h4 {
    font-family: 'Jacques Francois', serif;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

p {
    font-family: 'Yesteryear', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}

img {
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
    padding: 2px 50px;
}

#container {
    max-width: 300px;
    margin-top: 10vh;
}

.card {
    background-color: #EC9706;
    border: 1px solid #bacdd8;
    padding: 4px;
    margin: 0 auto;
    border-radius: 12px;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
  }

  .details {
    margin-top: 5px;
    text-align: center;
    padding: 16px 8px 8px 8px;
  }

  button {
    border: none;
    padding: 16px 26px;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background-color: #3C280D;
    margin: 0;
    display: block;
    cursor:pointer;
    display: inline;
  }

button:focus,
button:hover {
  background-color: coral;
  color: #e0efff;
}
